@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.titremarge{
    margin: 5px;
    font-weight: 800;
}
p{
    color: black;
}
.boximage{
    display: flex;
    justify-content: space-between; 

}
.main{
    max-width: 1450px;
    margin: auto;
    display: grid;
    grid-template-areas:    "containermain"
                            "populaire"
                            "hebergement"
                            "activity";
 grid-template-columns: 1fr;
}
.boxmenu{
    display: flex;
    width: 100%;
    
}
.boxmenu .lienmenu{
    flex:1;
    text-align: center;
}
.bluestar{
color: #0065FC;
}
.greystar{
    color: grey;
}
.lienmenu{
    /* margin: 0 5px 0 5px; */
    border-bottom: 2px solid #f2f2f2;
    width: 50%;
}
.lienmenuactive
{
    justify-content: center;
    /* margin: 0 5px 0 5px; */
    border-bottom: 2px solid #0065fc;
    width: 50%;
    display: flex;
}
    
.espace{
    margin: 17px;
}
#activity{
    grid-area: activity;
}

#hebergement{
    grid-area: hebergement;
}

h2.titlepopular {
    margin-bottom: 3vh;
    margin-top: 5vh;
    margin-left: 20px;
}
.lienmenu:active
{
  border-color: #0065FC;  
}
figure {
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.fa-chart-line:before {
    content: "\f201";
    margin-left: 77px;
}

.containpopular{
    height: 100%;
}
.boxbutton{
    display: flex;
    justify-content: center;
    height: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.boxbutton_marker {
    width: 12vw;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 5vh;
    left: 4vw;
}
.titreactive{
    margin-top: 6vh;
    margin-left: 20px;
}
.activite_pad{
    margin-bottom: 16px;
    padding-bottom: 14px;
}
.spacetitle{
    margin-left: 20px;
    margin-top: 84px;
}

.inputt{
    width: 78vw;
    border: 1px solid #F2F2F2;
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;
    font-family: 'Raleway';
}
.inputt::placeholder{
    color: black;
}

.inputt:focus {
    outline: none;
  }

  

.buttonre{
    
color: #DEEBFF;
    
background-color: #0065FC;
    
border-radius: 10px 10px 10px 10px;
    
width: 56px;
    
height: 39px;
    
right: 23px;
    
display: flex;
    
justify-content: center;
    
align-items: center;
    
position: absolute;
}
.lienfiltres{
    border: 2px solid #f2f2f2;
    display: flex;
    align-items: center;
    border-radius: 50px;
    height: 40px;
    color: black;
    margin: .5rem;
}
.fa-info:before {
    content: "\f129";
    color: #0065FC;
}
.lienfiltreconteneur{
display: flex;
flex-wrap: wrap;
}
.filtres{
display: block;
}

.blocpopulaire_card{
    display: flex;
}
p.textfiltre {
    font-weight: bold;
    padding: .5rem 1rem;
}
.activities{
    padding: 22px;
}
.figureheberge{
    margin-bottom: 14px;
}
.containheberge{
    padding: 22px;
}

.parapad{
    margin-top: 10px;

}
.staralign{
bottom: 5px;
    position: absolute;
}
.imgpetit{
    width: 100% ;
    height: 114px;
    border-radius: 25px 25PX 0px 0px;
 flex-wrap: wrap;
 object-fit: cover;

}
.blocpopulaire_lieu{
 font: bold;
}

.imgpopulaire{
    width: 45%;
    height: 100%;
    border-radius: 25px 0px 0px 25px;
    object-fit: cover;
}
.blocpopulaire_info
{
padding: 10px;
position: relative;
}
.blocpopulaire_card{
    display: flex;
    height: 150px;
    padding: 5px;
    margin-bottom: 5px;
}
.logo{
    display: flex;
    justify-content: space-between;
    margin: 22px;
}
.blocpopulaire
{background-color:#F2F2F2;padding: 10px;
grid-area: populaire;
}
.boxmobile{
    display: block;
}
.containermain{
    margin: 22px;
    grid-area: containermain;
}

.lienfiltres i {
    display: flex;
    align-items: center;   
    background-color: #DEEBFF;
    width: 40px;
    height: 100%;
    border-radius: 100px;
    justify-content: center;
    color:#0065FC ;
}
.lienfiltres:hover{
    color:#0065FC ;
}
.lienfiltres:hover i { 
    background-color: #0065FC;
    color:#DEEBFF ;
}
.lienfiltres:active{
    color:#0065FC ;
}
.lienfiltres
.lienfiltres i:active { 
    background-color: #0065FC;
    color:#DEEBFF ;
}
.textmenu:hover{
    color: #0065FC;
}

.section{
    background-color: #F2F2F2;
}
.photoactivite{
    height: 118px; ;
width: 100%; ;
border-radius: 25px 25PX 0px 0px; 
font :bold;
object-fit: cover;
}

.bandeau{
    background-color:#F2F2F2 ;
    text-decoration: black;
}
a:hover{
    color: blue;
}

/*** RESPONSIVE **/





@media screen and (min-width: 768px) {

    .boxmobile{
        display: flex;
        flex-direction: column;
        POSITION: RELATIVE;
        padding: 0 16px;
    }
    .boximage{
        display: none;
    }
    .logo{
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    .boxmenu {
        POSITION: absolute;
        width: 400px;
        right: 200px;
        line-height: 65px;
    }
    .filtres{
        display: block;
        margin: 16px;
    }
    .activities{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 6px;
        grid-template-rows: 190px 65px 65px 190px;
    }
    .smalltitle{
        font-size: small;
    }
    .buttonre{
     width: 40px;
    height: 42px;
    right: 82px;
    }
    
    
    

    .photoactivite {
        height: 94%;
        width: 100%;
        border-radius: 25px 25PX 0px 0px;
        font: bold;
        object-fit: cover;
    }
    .activities > a:nth-child(1){
        grid-column: 1;
        grid-row: 1/5;
  
    }
    .activities > a:nth-child(2)
    {
        grid-column: 2;
        grid-row: 1/3;
    }
    .activities > a:nth-child(3){
        grid-column: 2;
        grid-row: 4;
    }
    .activities > a:nth-child(4){
        grid-column: 3;
        grid-row: 1/5;
  
    }
    .activities > a:nth-child(5)
    {
        grid-column: 4;
        grid-row: 1;
    }
    .activities > a:nth-child(6){
        grid-column: 4;
        grid-row: 3/5;
  }
  .activities > a {
      height: 100%;
    
  }
  .containheberge{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 32px; 
      padding: 69px;

   

}

@media  (min-width: 1280px) 
 {
     .main{
         grid-template-areas: "containermain containermain"
                                "hebergement populaire"
                                "activity activity";
                                grid-template-columns: 2fr 1fr;
                                gap: 16px;
                                margin: 46px;
                                
     }
    .boxmobile{
        display: flex;
        flex-direction: column;
        POSITION: RELATIVE;
        padding: 0 16px;
    }
    .boximage{
        display: none;
    }
    .logo{
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    .boxmenu {
        POSITION: absolute;
        width: 400px;
        right: 200px;
        line-height: 65px;
    }
    .filtres{
        display: block;
        margin: 16px;
    }
    .activities{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 16px;
        grid-template-rows: 190px 65px 65px 190px;
    }
    
    
    

    .photoactivite {
        height: 94%;
        width: 100%;
        border-radius: 25px 25PX 0px 0px;
        font: bold;
        object-fit: cover;
    }
    .activities > a:nth-child(1){
        grid-column: 1;
        grid-row: 1/5;
  
    }
    .activities > a:nth-child(2)
    {
        grid-column: 2;
        grid-row: 1/3;
    }
    .activities > a:nth-child(3){
        grid-column: 2;
        grid-row: 4;
    }
    .activities > a:nth-child(4){
        grid-column: 3;
        grid-row: 1/5;
  
    }
    .activities > a:nth-child(5)
    {
        grid-column: 4;
        grid-row: 1;
    }
    .activities > a:nth-child(6){
        grid-column: 4;
        grid-row: 3/5;
  }
  .activities > a {
      height: 100%;
    
  }
  .containheberge{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 32px; 
      padding: 69px;
  }
  #hebergement{
      background-color: #F2F2F2;
      border-radius: 25px;
      
  }
  .containermain{
    margin: 38px;
  }
  .boxbutton{
      justify-content: flex-start;
      position: relative;
      width: 420px;
  }
  .inputt{
      flex: 1;
      text-align: center;
  }
  .boxbutton_marker{
      width: 67px; 
      left: 0;
  }
.buttonre{
    width: 66px;
    right: 1px;
    height: 44px;
}

#hebergement{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}

.blocpopulaire{
    display: flex;
    justify-content: space-between;
    float: right;
    width: 100%;
    border-radius: 25px;
    margin-right: 12px;
    height: 100%;
}
.blocpopulaire_card{
    height: 26%;
    width: 98%;
    margin-bottom: 13px;

}

.bandeau{
    display: flex;
    justify-content: space-evenly;
}
.textmenu{
    line-height: 65px;
    color: #0065FC;
}
.lienmenuactive{
    border-top:#0065FC 4px solid;
border-bottom-color: white;
}
.lienmenu{
    border-bottom: none;
}


@media (min-width:2560px) {
    .main{
        margin: auto;

    }
.blocpopulaire_card{
    height: 24%;
}
.spacetitle{
    margin-top: 132px;

}
.logo{
    justify-content: space-around;
}
.boxmenu{
    right: 645px;
}
.containermain{
    margin: 52px;
}
.buttonre{
    height: 106px;
}

}
  
}

}
