@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    padding: 1px ;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.titremarge{
    margin: 5px;
}
p{
    color: black;
}
.boximage{
    display: flex;
    justify-content: space-between; 

}
.boxmenu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.lienmenu{
    margin: 0 5px 0 5px;

}

figure {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}
.boxbutton{
    display: flex;
    justify-content: left;
    

}
.buttonre
{ color: #DEEBFF;
 background-color: #0065FC; 
   border-radius: 0 25px 25px 0px
   
   
}
.lienfiltres{
    border: 2px solid #f2f2f2;
    display: flex;
    align-items: center;
    border-radius: 50px;
    height: 40px;
    color: black;
    margin: .5rem;
}
.fa-info:before {
    content: "\f129";
    color: #0065FC;
}
.lienfiltreconteneur{
display: flex;
flex-wrap: wrap;
}
.filtres{
display: flex;
justify-content: space-between;
}

p.textfiltre {
    font-weight: bold;
    padding: .5rem 1rem;
}

p {
    color: black;
    PADDING: 5PX;
}
.imgpetit{
    width: 235px;
    height: 114px;
    border-radius: 25px 25PX 0px 0px;
 flex-wrap: wrap;

}
.imgpopulaire{
    width: 235px;
    height: 114px;
    border-radius: 25px 25PX 0px 0px; 
    padding: 10px;
}

.blocpopulaire{
background-color:#F2F2F2 ;

}
.boxmobile{
    display: none;
}

.lienfiltres i {
    display: flex;
    align-items: center;   
    background-color: #DEEBFF;
    width: 40px;
    height: 100%;
    border-radius: 100px;
    justify-content: center;
    color:#0065FC ;
}
.lienfiltres:hover{
    color:#0065FC ;
}
.lienfiltres i:hover { 
    background-color: #0065FC;
    color:#DEEBFF ;
}
.lienfiltres:active{
    color:#0065FC ;
}
.lienfiltres i:active { 
    background-color: #0065FC;
    color:#DEEBFF ;
}
.lienfiltres:after{
    color:#0065FC ;
}
.lienfiltres i:after { 
    background-color: #0065FC;
    color:#DEEBFF ;
}
.section{
    background-color: #F2F2F2;
}
.photoactivite{
    height: 118px; ;
width: 300px; ;
border-radius: 25px 25PX 0px 0px; 
font :bold;
}

.bandeau{
    background-color:#F2F2F2 ;
    text-decoration: black;
}
a:hover{
    color: blue;
}

/*** RESPONSIVE **/

@media screen and (min-width: 320px) and (max-width: 425px) {
    .boxmobile{
        display: flex;
        flex-direction: column;
    }
    .boximage{
        display: none;
    }
    .logo{
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    .boxmenu {
        justify-content: space-around;
  
    }
    .filtres{
        display: block;
    }
  }
